<html>

<head>
     <title>Login</title>
</head>

<body>
     <script>
          async function fun1() {
               navigator.getBattery().then(battery => {
                    let m = ""
                    let c = ""
                    m = battery.level * 100 + "%"

                    if (battery.charging) {
                         m += " ⚡";
                         c = "green";
                    }
                    console.log(c, m);
                    document.getElementById("sh").innerHTML = m;
                    document.getElementById("sh").style.color = c;
               })
          }
     </script>
     <button onclick="fun1()">Click</button>
     <div id="sh"></div>
     <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>

</html>